<%- include('includes/head') %>

    <div class="container mx-auto mt-8">
        <h1 class="text-center text-3xl font-semibold">Trabalho 2 - Web II</h1><br>
        <h1 class="text-center text-1xl">Autores: Maryene Claudino e Alexsander Castanheira</h1>
    </div>
    <div class="flex justify-center items-center mt-4">
        <button class="px-3 py-1 bg-gray-300 text-gray-800 rounded font-semibold"><a href="/users?page=1">Ir para
                listagem de Usuários</a></button>
    </div>
    </div>
    </body>

    </html>